

@import '../../../scss/variables';
@import '../../../scss/mixins';


.container_about{
    background: #293241;
    min-height: 100vh; /* Esto buscas? */
    display: flex;
    flex-direction: column;
    align-items: center;
    .container_info{
        background: #f2f2f2;
        width: 50%;
        display: flex;
        align-items: center;
        border-radius: 20px;
        margin: 2rem;
        padding: 2rem;

       
        .conteiner_head{
            // background: red;
            display: flex;
            padding: 2rem;
            gap: 2rem;
            img{
                width: 12rem;
                height: 200px;
                border-radius: 20px;
                object-fit: cover;
            }
    

            .container_name_desc{
                // padding: 3rem;
                h1 {
                    font-size: 2rem;
                    color: rgb(78, 78, 78);
                }
                p{
                    color: rgb(88, 88, 88);
                }
            }
        }

        
        
        .container_contact {
            // background: gray; 
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: start;
            align-items: flex-start;
            padding: 1rem;

            img{
                width: 4rem;
            }

        }

    }

    

    /* Media querys */
    @media #{media-query(small)} {
        .container_info{
            width: 100%;
            flex-direction: column;
            .container_contact {
                flex-direction: row;
            }
            .conteiner_head{
                flex-direction: column;
            }
        }
        
    }

    @media #{media-query(medium)} {
        .container_info{
            width: 80%;
            .conteiner_head{
                flex-direction: row;
            }
        }


    }

    @media #{media-query(large)} {

        .container_info{
            width: 80%;
            .conteiner_head{
                flex-direction: row;
            }
        }
    }
}



