/*  */
@import '../../../scss/variables';
@import '../../../scss/mixins';


.barra {
    width: 200px;
    height: 20px;
    background-color: #ccc;
    position: relative;
    margin: 20px;

    .relleno {
      height: 100%;
      width: 0;
      background-color: $primary-color;
      position: absolute;
      /* animation: 2s ease forwards; */
    }

  }  

