

@import '../../../scss/variables';
$redColor: #e74c3c; // Rojo

.alertContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.blueAlert {
  background-color: $primary-color;
  color: white;
}

.redAlert {
  background-color: $redColor;
  color: white;
}