@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

// Colores
$primary-color: #4169E1;
$secondary-color: #FFD700;
$tertiry-color: #e74c3c; // Rojo
$text-color: #696969;
$background-color: #d3d3d3;

// Fuentes
$base-font: 'Raleway', sans-serif;




